<div class="founder">
  <h4>A word from our founder</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. --Barbara Jones, President</p>
</div>
<div class="testimonials">
  <h4>Testimonials</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. --Paris Hilton, Member Since 7/14/17</p>
  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. --Ozzy Osbourne, Treasurer, Member Since 7/14/17</p>
</div>
<div class="top4container">
  <div *ngFor="let member of members | async | reverse" class="top4">
    <div class="box">
      <h3 (click)="goToDetailPage(member)"><strong>{{member.name}}</strong></h3>
      <h4>{{member.about}}</h4>
      <h4>{{member.location}}</h4>
    </div>
  </div>
</div>
