<h1>About Us</h1>
<p>DogHikes K9 Hiking Club is a fun, brand-new club for people who like to hike with their dogs. Members can hike solo, or in groups with or without other members. Members can update the miles they've hiked (and the miles their pup has hiked) through the admin setting. Happy trails! Ruff ruff!</p>

<p>DogHikes founder, Marilyn Carlin, is a dog aficianado and avid hiker in the PNW. When she's not coding, you can probably find her knee-deep in mud with her pup, Kili.</p>
<img src="" alt="A picture of Marilyn's dog, Kili">
