<h2>Members</h2>

<select (change)="onChange($event.target.value)">
  <option value="allMembers" selected="selected">All Members</option>
  <option value="admin">Administation</option>
  <option value="regular-members">Members</option>
</select>

<div *ngFor="let member of members | async | position:filterByPosition" class="panel panel-default">
  <div class="panel-body">
    <h3 (click)="goToDetailPage(member)"><strong>{{member.name}}</strong></h3>
    <h4>{{member.about}}</h4>
    <h4>{{member.location}}</h4>
    <div *ngIf="currentRoute === '/admin'">
      <app-edit-member [selectedMember]="member"></app-edit-member>
    </div>
  </div>
</div>
